<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
            div{
                margin: auto;
                text-align: center;
                font-size: 26px;
            }
            h1{
                text-align: center;
            }
            a{
                background-color: yellow;
            }
            a:hover{
                background-color: white;

            }
        </style>
    </head>
    <body bgcolor="orange">
        <h1>Welcome to Uday Kumar</h1>
        <div>
        <a href="./inputview">Register</a><br><br>
        <a href="./outputview">Login</a><br><br>
        </div>
    </body>
</html>